<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.Data.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Xpo.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="SqlClientConnectionString" connectionString="SERVER=202.115.195.252;DATABASE=crsTest;PWD=Win2008;UID=crstest;" providerName="System.Data.SqlClient"/>
    <add name="OledbConnectionString" connectionString="" providerName="System.Data.OleDb"/>
  </connectionStrings>
</configuration>